.imagenazul{
    height: 100px;
    width: 100px;
    margin-right: 600px;
}

.imagenroja{
    height: 100px;
    width: 100px;
    margin-right: 600px;
}

.imagenverde{
    height: 100px;
    width: 100px;
    margin-right: 600px;
}